/.classpath
/.project
/.settings
/bin
src/main/webapp/VAADIN/widgetsets
src/main/webapp/VAADIN/themes/*/styles.css
src/main/webapp/VAADIN/themes/*/addons.scss
/target
*.log
src/main/resources/test.txt
cdmTest.lock.db
src/test/resources/eu/etaxonomy/cdm/database/schema/*.xsd
.designer
.vaadin-designer
.idea
*.iml
.directory
env.properties
c3p0.properties
/selenium
workbench.xmi
*.scss.cache

