
<h2>Buttons</h2>

<h3>Areas and Taxa</h3>
<p>Opens a dialog to choose the classification and areas to edit the distribution status for.</p>

<h3>Status</h3>
<p>Opens a dialog to configure the available list of distribution status and the use of abbreviated labels.</p>

<h3>Taxon Details</h3>
<p>Opens a read-only list of all factual data related to a selected taxon.</p>

<h3>Help</h3>
<p>Opens the help-window.</p>

<h3>Logout</h3>
<p>Ends the Session and redirects to the login-dialog.</p>

<h2>Table</h2>
<h3>Structure</h3>
<ul>
    <li>Each Row represents a taxon. The list of shown taxa can be configured by clicking the button <b>Areas and Taxa</b>.</li>
    <li>A taxon can be selected by clicking its name in the column "Taxon".</li>
    <li>The columns "Taxon" and "Rank" are read-only and are showing the name and rank of each taxon.</li>
    <li>Each of the other columns represents a distribution area. The available areas can be set by clicking the button <b>Areas and Taxa</b>.</li>   
    <li>Columns can be hidden and shown by clicking the small arrow at the upper right corner of the table.</li>
</ul>

<h3>Edit Distribution Status</h3>
<ul>
    <li>To edit the distribution status for a taxon in  a specific area, click on the cell in teh row of the taxon and the column of the area.</li>
    <li>A popup-window shows up in which you can choose a distribution status by clicking on it. The new status is saved immediately and the popup-window is closed automatically.</i>
    <li>The available distribution status to choose from in the popup-window can be configured by clicking the button <b>Status</b>.</li> 
</ul>