
<h2>Schaltflächen</h2>

<h3>Gebiete und Taxa</h3>
<p>Öffnet einen Dialog zur Auswahl der zu bearbeitenden Klassifikation und zu Verfügung stehenden Gebiete.</p>

<h3>Status</h3>
<p>Öffnet einen Dialog zur Festlegung der zur Auswahl stehenden Verbreitungsstatus-Angaben und ermöglicht das Festlegen der Anzeige von Abkürzungen statt vollen Bezeichnungen</p>

<h3>Taxon Details</h3>
<p>Öffnet eine nicht editierbare Auflistung aller an ein in der Tabelle ausgewähltes Taxon angehängten Factual Data.</p>

<h3>Hilfe</h3>
<p>Öffnet das Hilfe-Fenster</p>

<h3>Abmelden</h3>
<p>Beendet die Session und führt zurück zum Login-Dialog.</p>

<h2>Tabelle</h2>
<h3>Aufbau</h3>
<ul>
    <li>Jede Zeile repräsentiert ein Taxon. Die Liste der angezeigten Taxa kann über die Schaltfläche <b>Gebiete und Taxa</b> angepasst werden.</li>
    <li>Ein Taxon kann durch einen Klick auf dessen Namen in der Spalte "Taxon" selektiert werden.</li>
    <li>Die Spalten "Taxon" und "Rang" sind nicht editierbar und geben Auskunft über den Namen und den Rang der Taxa.</li>
    <li>Alle weiteren Spalten repräsentieren jeweils ein Verbreitungsgebiet. Die zu Verfügung stehenden Gebiete können über die Schaltfläche <b>Gebiete und Taxa</b> festgelegt werden.</li>   
    <li>Über den kleinen Pfeil am rechten oberen Rand der Tabelle können einzelne Spalten ein und ausgeblendet werden.</li>
</ul>

<h3>Verbreitungsstatus bearbeiten</h3>
<ul>
    <li>Um den Verbreitungsstatus für ein Taxon in einem bestimmten Gebiet zu bearbeiten, klicken Sie auf die Zelle in der Zeile des Taxons und der Spalte des Gebiets.</li>
    <li>Es erscheint ein Popup-Fenster, in dem Sie einen Status durch einen Klick auswählen können. Der neue Status wird dann direkt gespeichert und das Popup-Fenster schließt sich.</i>
    <li>Die im Popup-Fenster zu Verfügung stehenden Verbreitungsstatus können über die Schaltfläche <b>Status</b> festgelegt werden.</li> 
</ul>