// Fixes problems in the valo theme
// must be imported after the valo theme

// -------------------------------------------
// add missing tiny, and small style for select lists

.v-select-tiny {
  font-size: $v-font-size--tiny;
}

.v-select-small {
  font-size: $v-font-size--small;
}

.v-filterselect-suggestpopup-tiny {
  font-size: $v-font-size--tiny;
}

.v-filterselect-suggestpopup-small {
  font-size: $v-font-size--small;
}

// ------------------------------------------- 

.edit-valo .v-layout .v-component-group {
    .v-textfield, .v-switch, .v-button {
        margin-top: $edit-v-shadow-spread-radius;
        margin-bottom: $edit-v-shadow-spread-radius;
    }
} 
    

// -------------------------------------------
// add missing shadows
.v-select-select {   
    @include box-shadow(valo-bevel-and-shadow($bevel: $v-bevel, $shadow: $v-shadow, $background-color: $v-app-background-color, $gradient: $v-gradient));
}
// and component group border 
.v-caption:first-child + .v-widget > .v-select-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
// tiny size
.v-select-tiny .v-select-select {   
    height: $v-unit-size--tiny
}