<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    ">

  <!-- 
    NOTE: 
    For a detailed overview on the spring MVC and application context configuration and 
    bootstrapping of this web application see: 
    http://dev.e-taxonomy.eu/trac/wiki/cdmlib-remote-webappConfigurationAndBootstrapping
  -->
   
   <context:annotation-config />
   
    <!--  
        find the eu.etaxonomy.cdm.remote.config.CdmVaadinConfiguration
    -->
   <context:component-scan base-package="eu/etaxonomy/cdm/addon/config" />
    
   <!-- include default application context and customization -->
   <import resource="classpath:/eu/etaxonomy/cdm/defaultApplicationContext.xml"/>
   
   <bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean"/>
   
   <bean id="persistentTermInitializer" class="eu.etaxonomy.cdm.database.PersistentTermInitializer">
       <property name="omit" value="false" />
   </bean>
   <context:component-scan base-package="eu/etaxonomy/cdm/ext" />

    <import resource="classpath:/eu/etaxonomy/cdm/remote.xml"/>
    <context:component-scan base-package="eu/etaxonomy/cdm/io">
        <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.io\.pesi.*" />
        <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.io\.faunaEuropaea.*" />
        <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.io\.erms.*" />
        <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.io\.eflora.*" />
        <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.io\.berlinModel.*" />
    </context:component-scan>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="properties">
        <props>
            <prop key="eu.etaxonomy.cdm.base.path">${user.home}/.cdmLibrary/</prop>
            <prop key="eu.etaxonomy.cdm.search.index.path">${user.home}/.cdmLibrary/index/</prop>
        </props>
          </property>
    </bean>

    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    
    <!-- =================== hibernate-test TOTO externalize ===================  -->
    
    <bean id="hibernateProperties"
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.internal.NoCachingRegionFactory</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.search.autoregister_listeners">false</prop>
                <prop key="hibernate.jdbc.batch_size">0</prop>
            </props>
        </property>
    </bean>
    <bean id="tableGeneratorGlobalOverride"
        class="eu.etaxonomy.cdm.persistence.hibernate.TableGeneratorGlobalOverride">
        <property name="properties">
            <props>
                <!--
                    globally overriding id generation settings see: eu.etaxonomy.cdm.persistence.hibernate.TableGenerator
                 -->
                <prop key="optimizer">none</prop>
                <prop key="initial_value">5000</prop><!-- must be higher than any term id in TermsDataSet.xml -->
            </props>
        </property>
    </bean>
    
    <!-- =================== spring-test-dbunit TOTO externalize ===================  -->
    <bean id="h2DataTypeFactory" class="org.dbunit.ext.h2.H2DataTypeFactory" />

    <bean id="dbUnitDatabaseConfig" class="com.github.springtestdbunit.bean.DatabaseConfigBean">
         <property name="datatypeFactory" ref="h2DataTypeFactory" />
    </bean> 
    <bean id="dbUnitDatabaseConnection" class="com.github.springtestdbunit.bean.DatabaseDataSourceConnectionFactoryBean">
        <property name="databaseConfig" ref="dbUnitDatabaseConfig"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="dataSetLoader" class="eu.etaxonomy.cdm.dbunit.CdmFlatXmlDataSetLoader" />

    <!-- bootstrap the Web Configuration -->
    <bean class="eu.etaxonomy.cdm.remote.config.MultiWebSecurityConfiguration" />

</beans>